.mainsection-container {
    flex: 1;
    padding: 20px;
    background-color: #faf9ff;
    overflow-y: scroll;
    position: relative;

}

.takenote-container {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow-y: hidden;
    height: 300px;


}

.cardsholder-container {
    padding: 20px 0;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}