.takenote {
    width: 500px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    overflow-y: auto;

    /* Create a positioning context */
    z-index: 1;

}

.takenote * {
    letter-spacing: 2px;
}

#card-title,
#card-notes {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;

    border: none;
    background-color: rgb(255, 255, 255);

}

#card-title {
    font-weight: bold;
}

#card-notes {
    cursor: text;
    overflow-y: auto;
    word-wrap: break-word
}

.button {
    font-size: .9rem;
    margin-right: 10px;
    padding: 5px;
    border: none;

    border-radius: 5px;

}

.green {
    color: rgb(13, 158, 0);
    background-color: rgb(255, 255, 255);
}

.blue {
    color: rgb(0, 31, 207);
    background-color: rgb(255, 255, 255);
}

.red {
    color: rgb(187, 20, 20);
    background-color: rgb(255, 255, 255);
}



form label {
    margin-right: 10px;
}

.fa-circle-plus {
    color: blue;
}

button {
    border: none;
    background-color: transparent;

}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: .6rem;
    margin-top: 10px;
    margin-left: 10px;
    padding: 3px 10px;
    border: 0.5px solid black;
    border-radius: 20px;
}

.addtags-container {
    width: 200px;
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    overflow-y: scroll;
    position: static;
    z-index: 1;

}


#newtag {

    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 0.8rem;
    border: none;
}

.existing-tags label {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Optional: Adds spacing between the checkbox and the label text */
}

.existing-tags .tag-label {
    display: flex;
    width: 100%;
    height: 30px;

}


.color-container {
    /* background-color: aqua; */
    display: flex;
    align-items: center;

}

.colorBox {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid black;
}